.git
.gitignore
.env
.env.*
node_modules
vendor
public/storage
public/build
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/*.sqlite-journal
tests
phpunit.xml
.editorconfig
.agents
.claude
.continue
